/* Estilo básico para el formulario */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"], input[type="email"] {
    height: 40px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

h1 {
 position: absolute;
 top: 60px;
 color: yellow;
 font-size:40px; 
}

pre {
 position: absolute;
 top: 118px;
 color: white;
 font-size:18px; 
 line-height: 1.5;
}
